@font-face{
    font-family: 'heura';
    src: url(./assets/fonts/Heura.woff);
}
header{
    background-color: #f9e021;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    max-width: 80px;
    margin: 75px 0 75px 50px;
}

.menu{
    display: block;
}

.fa-solid {
    background-color: white;
    border-radius: 100px;
    padding: 20px;
    margin-right: 50px;
}
.fa-solid:hover{
    color: white;
    background-color: black;
}

.menu-list{
    list-style: none;
    margin-right: 50px;

}

.menu-list-item{
    display: inline-block;
    font-family: 'heura';
    font-weight: bolder;
    font-size: 25px;
    padding: 15px;
}

.menu-list-item:hover{
    color: white;
    text-decoration: underline;
    text-decoration-line: underline ;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    
}

@media screen and (max-width: 1024px) {
    .menu-list-item{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .fa-solid{
        display: none;
    }
}